.header {
  display: flex;
  font-size: 40px;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
  padding-left: 18px;
  margin-top: 30px;
}

.submit__icon {
  margin-left: auto;
  margin-right: 35px;
  cursor: pointer;
}

.add_photo_form {
  margin-right: 50px;
}

.edit_container {
  margin-top: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mask {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.title__conteiner,
.description__conteiner {
  border-bottom: 3px solid white;
  min-width: 100px;
  word-break: break-word;
  width: fit-content;

}

.title__conteiner {
  margin-bottom: 64px;
  min-height: 48px;
  font-size: 40px;
}

.description__conteiner {
  min-height: 44px;
  font-size: 36px;
}