.tmpBack {
    width: 400px;
    height: 500px;
    background: linear-gradient(180deg, #000F1B 0%, #668AA5 99.99%, rgba(0, 0, 0, 0) 100%);
}

.cardOutlineBorder {
    width: 286px;
    height: 392px;
    padding: 1px;
    border: solid 2px rgba(0,0,0,0);
    border-radius: 14px;
    pointer-events: none;
    transition: border-color 0.15s linear;
}

.cardArea:hover {
    background-color: rgba(0,0,0,.4);
}

.cardArea {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 8px dashed #668AA5;
    border-radius: 12px;
    background-color:transparent;
    max-width: 285px;
    max-height: 375px;
    pointer-events: auto;
}
  
  /* On mouse-over, add a deeper shadow */
  
.plussign {
    width: 295px;
    height: 280px;
}
.plussign img {
    width: 98px;
    height: 96px;
    padding: 28%;
    border-radius: 12px 12px 0px 0px;
    transition: background-color 2s ease-out 100ms
}

.textContainer {
    width: 285px;
    height: 107px;
    padding-left: 9px;
}
.textContainer b {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 0px;

    /* white */

    color: #FFFFFF;


}

.textContainer p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    align-items: center;

    /* white */

    color: #FFFFFF;

}