.content {
    width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-top: 52px;
    margin-bottom: 41px;
}