.container{
    padding: 0;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container form{
    min-width: 400px;
}

.container form>div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.container legend{
    font-size: 22px;
}

.container div{
    margin-top: 20px;
}

.container label{
    font-size: 22px;
}

.container button{
    font-size: 22px;
    display: block;
    color: #668AA5;
    margin: 30px auto;
    background-color: #1E2F3C;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 4px;
}

.container button:hover{
    background-color: #243847;
}

.container input[type="text"],
.container input[type="password"] {
  border: 1px solid rgba(191, 216, 227, .8);
  padding: 5px;
  border-radius: 5px;
  font-size: 110%;
  width: 100%;
}